.body {
  font-size: 16px !important;
}
.navbar {
  padding:0;
}
input[type="text"] {
  font-size: inherit;
}
/* Class for completed items */
.completed span {
  text-decoration: line-through;
}

/* Input box style */
.input {
  height: 100%;
  width: 100%;
  font-size: 100%;
  border: 0;
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;
}

input:focus {
  outline: none;
}

/* Button style */
.btn-success,
.btn-danger {
  background-color: #3f75a2 !important;
  border-color: #3f75a2 !important;
  color: #ddd;
}

.card {
  margin-left: 1rem;
  margin-right: 1rem;
}
.card-body {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
/* Light theme */
@media (prefers-color-scheme: light) {
  body {
    font-size: 16px;
  }
  .btn-success,
  .btn-danger {
    color: #fff;
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  body {
    color: #ddd !important;
    background-color: #646464;
    font-size: 16px;
  }
  .card,
  .input,
  .icon,
  .bg-light {
    background-color: #3c3b3b !important;
    color: #ddd !important;
  }
  input::placeholder,
  ::-webkit-input-placeholder {
    color: #ddd !important;
  }
  input::-webkit-input-placeholder,
  ::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #ddd !important;
  }
}
